#root {
  box-sizing: border-box;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
  cursor: pointer;
  padding: 0 1.5rem;
  -webkit-transition: filter 300ms;
  -moz-transition: filter 300ms;
  -ms-transition: filter 300ms;
  -o-transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #1e58c4aa);
  -webkit-filter: drop-shadow(0 0 2em #1e58c4aa);
}

.logo svg {
  font-size: 30px;
  color: #3661be;
}

tr:nth-child(even) {
  background-color: #364343;
}

th {
  background-color: #1a367b;
  padding: 10px;
}

td {
  padding: 5px;
}

.date {
  padding: 0 1.5rem;
}

.ag-header-cell-label {
  display: flex;
  justify-content: center;
}

.excel-download-btn {
  width: 100%;
  max-width: 250px;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 0.3s ease-in-out;
  background-color: #009688;
  margin: auto;
}

.excel-download-btn:hover {
  background-color: #28c3b5;
}
